/* :root[data-theme="dark"] {
    --text: #a3a1af;
    --background: #160f0d;
    --primary: #97264f;
    --secondary: #414054;
    --accent: #447971;
  } */


/* :root[data-theme="light"] { */
:root {
    --text: #25213d;
    --background: #EBF2F2;
    --primary: #60BFA4;
    --primaryShade: #82cab7;
    --secondary: #8C3A27;
    --accent: #382E59;
}

.logo {
    font-weight: 600;
    font-size: 50px;
}



body {
    display: grid;
    grid-template: 80px 1fr 30px / minmax(200px, 1fr) 5fr;
    height: 100vh;
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
    color: var(--text);
    font-size: 20px;

}

header,
footer {
    grid-column: span 2;
    background-color: var(--primary);
    text-align: center;
    align-content: center;
}

.sidebar {
    background-color: var(--primaryShade);
    display: grid;
    padding: 22px;

}

.filter-label,
.project-label,
.main-label {
    font-weight: 500;
    font-size: 24px;
}

.filters-container,
.projects-container,
.projects-subcontainer {
    display: flex;
    row-gap: 8px;
    flex-direction: column;
    flex-wrap: nowrap;
}

.main-content {
    background-color: var(--background);
    padding: 18px;
}

.task {
    display: flex;
    grid-auto-flow: column;
    flex-wrap: nowrap;
    /* justify-content: space-between; */
    align-items: center;
}

.task-text {
    flex: 1;
}

.context-menu-button,
.checkbox,
.important {
    width: 30px;
}

.project {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


input,
button,
select {
    color: var(--text);
    font-size: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   
}

button {
    background-color: #60bfa400;
    border-radius: 4px;
    border: 2px solid var(--secondary);
}

/* .selected {
    background-color: blueviolet;
} */


/* * {
    border: 1px solid red;
} */