/* :root[data-theme="dark"] {
    --text: #a3a1af;
    --background: #160f0d;
    --primary: #97264f;
    --secondary: #414054;
    --accent: #447971;
  } */


/* :root[data-theme="light"] { */
:root {
    --text: #323232;
    --background: #E4DDDD;
    --primary: #A7ACB2;
    --secondary: #8B8A8B;
    --accent: #C16281;
    
    --primary-little-lighter: hsl(from var(--primary) h s calc(l + 0.05));
    --primary-lighter: hsl(from var(--primary) h s calc(l + 0.14));
    --primary-even-lighter: hsl(from var(--primary) h s calc(l + 0.23));
    --primary-darker: hsl(from var(--primary) h s calc(l - 0.1));
    --primary-even-darker: hsl(from var(--primary) h s calc(l - 0.2));
    --background-lighter: hsl(from var(--background) h s calc(l + 0.08));
    --accent-darker: hsl(from var(--accent) h s calc(l - 0.05));
    --text-lighter: hsl(from var(--text) h s calc(l + 0.2));


    --shadow-color: 0deg 5% 56%;
    --shadow-elevation-low:
      0.3px 0.3px 0.4px hsl(var(--shadow-color) / 0.54),
      0.5px 0.5px 0.6px -2px hsl(var(--shadow-color) / 0.4),
      1.4px 1.2px 1.7px -4px hsl(var(--shadow-color) / 0.27);
    --shadow-elevation-medium:
      0.3px 0.3px 0.4px hsl(var(--shadow-color) / 0.57),
      0.8px 0.7px 1px -1.3px hsl(var(--shadow-color) / 0.46),
      2.5px 2.2px 3px -2.7px hsl(var(--shadow-color) / 0.35),
      6.8px 6.1px 8.2px -4px hsl(var(--shadow-color) / 0.25);
    --shadow-elevation-high:
      0.3px 0.3px 0.4px hsl(var(--shadow-color) / 0.53),
      1.1px 0.9px 1.3px -0.6px hsl(var(--shadow-color) / 0.48),
      2.1px 1.9px 2.5px -1.1px hsl(var(--shadow-color) / 0.43),
      4.2px 3.7px 5px -1.7px hsl(var(--shadow-color) / 0.38),
      7.8px 6.9px 9.4px -2.3px hsl(var(--shadow-color) / 0.33),
      13.5px 12px 16.3px -2.9px hsl(var(--shadow-color) / 0.28),
      22px 19.5px 26.5px -3.4px hsl(var(--shadow-color) / 0.23),
      33.8px 30px 40.7px -4px hsl(var(--shadow-color) / 0.18);
  }

.logo {
    font-weight: 600;
    font-size: 50px;
    color: var(--accent);
    text-shadow: 3px 4px var(--text-lighter);
}



body {
    display: grid;
    grid-template: 80px 1fr 30px / minmax(300px, 1fr) 5fr;
    height: 100vh;
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
    color: var(--text);
    font-size: 20px;
    overflow-y: hidden;

}

/* width */
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 10px var(--primary-darker);
    border-radius: 4px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--accent);
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--accent-darker);
}

header,
footer {
    grid-column: span 2;
    background-color: var(--primary);
    text-align: center;
    align-content: center;
}

header {
    z-index: 1;
    box-shadow: var(--shadow-elevation-medium);

}

.sidebar {
    background-color: var(--primary-little-lighter);
    display: flex;
    padding: 22px;
    overflow-y: auto;
    overflow-x: hidden;
    row-gap: 45px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    flex-wrap: nowrap;
}

.filter-label,
.project-label,
.main-label {
    font-weight: 500;
    font-size: 24px;
}

.main-label {
    background-color: var(--accent);
    color: var(--background-lighter);
    border-radius: 4px;
    padding: 20px;
    font-size: xx-large;
    margin-bottom: 20px;
}

.filters-container,
.projects-container,
.projects-subcontainer {
    display: flex;
    row-gap: 8px;
    flex-direction: column;
    flex-wrap: nowrap;
}

.main-content {
    background-color: var(--background);
    padding: 18px;
    overflow-y: auto;
}

.tasks-container {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    overflow-y: auto;
    overflow-x: hidden;
}

.no-tasks-text {
    text-align: center;
    padding: 100px 20px;
    border-radius: 4px;
    font-size: 30px;
}

.task {
    display: flex;
    grid-auto-flow: column;
    flex-wrap: nowrap;
    /* justify-content: space-between; */
    align-items: center;
    border-radius: 4px;
    background-color: var(--background-lighter);
    padding: 10px 12px;
}

.task > *:not(:last-child):not(:nth-child(1))  {
    margin-right: 50px;
}

.task > *:first-child  {
    margin-right: 12px;
}

.task-description {
    margin-top: 3px;
    font-size: 14px;
    font-weight: 400;
    filter: brightness(150%);
    /* display: inline-block; */
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
}

.task-name {
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
}

.task-text {
    /* display: inline-block; */
    overflow: hidden;
    /* text-overflow: ellipsis; */
    white-space: nowrap;
    /* width: 100px; */
    /* text-wrap: nowrap; */
}


.important {
    filter: invert(69%) sepia(81%) saturate(2317%) hue-rotate(299deg) brightness(80%) contrast(86%);
}

.context-menu-button,
.checkbox {
    filter: invert(16%) sepia(1%) saturate(0%) hue-rotate(198deg) brightness(102%) contrast(91%);
}

.add-task {
    position: fixed;
    bottom: 40px;
    right: 30px;
    background-color: var(--accent);
    color: var(--background-lighter);
}

.add-project {
    background-color: var(--accent);
    color: var(--background-lighter);
}

.task-text {
    flex: 1;
}

.context-menu-button,
.checkbox,
.important {
    width: 30px;
}

.projects-subcontainer>.project {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.filter,
.projects-subcontainer>.project {
    border-radius: 4px;
    padding: 6px 8px;
    background-color: var(--primary-lighter);
}

.filter:hover:not(.selected-view),
.projects-subcontainer>.project:hover:not(.selected-view) {
    filter: brightness(104%);
}

.filter:active:not(.selected-view),
.projects-subcontainer>.project:active:not(.selected-view) {
    filter: brightness(98%);
}

.selected-view {
    border-left: 4px solid var(--accent);
    filter: brightness(108%);
}

input,
button,
select {
    color: var(--text);
    font-size: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

dialog {
    background-color: var(--background-lighter);
    border: 0;
    border-radius: 4px;
}

.task-form {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    row-gap: 20px;
    padding: 30px;
}

.task-form > input,
.task-form > select {
    border:0;
    background-color: var(--primary-even-lighter);
    border-radius: 4px;
    padding: 8px;
}

button,
body > div.main-content > div.tasks-container > dialog > form > button:nth-child(5)    {
    background-color: var(--primary-lighter);
    border-radius: 4px;
}

.tasks-container:not(:first-child) > .context-menu {
    padding: 8px;
    border-radius: 6px;
    position: absolute;
    background-color: #aaa9a999;
    /* color: var(--background); */
    z-index: 5;
    bottom: 24px;
    right: 16px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    row-gap: 9px;
}

.context-container {
    position: relative;
}

.context-menu > div {
    padding: 4px;    
}
.context-menu > div:hover {
    filter: brightness(10%);
    cursor: pointer;

}

/* .context-container {
    display: flex;
    flex-direction: row;
} */