body {
    display: grid;
    grid-template: 40px 1fr 30px / 1fr 4fr;
    height: 100vh;
    text-align: center;
    margin: 0;
}

header,
footer {
    grid-column: span 2;
}


header,
footer,
.sidebar,
.main-content {
    border: 1px solid black;
}

.sidebar {
    display: grid;
}